.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* Fonts */

@font-face {
  font-family: "GameOfSquid";
  src: url("./assets/gameofsquid.ttf");
  font-display: fallback;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.start-page {
  display: flex;
  flex-direction: column;
  margin: 3%;
  justify-content: center;
  transform: scale(1.25);
}

.pinkcol {
  color: #e82a80;
}

.sg-icons {
  margin-top: 25px;
  transform: scale(3);
  padding: 3%;
}

.title-header {
  font-size: xx-large;
}

.logo-image {
  margin-top: 1%;
  width: 70%;
}

#enter-button {
  background-color: #e82a80; /* Green */
  border: none;
  color: white;
  padding: 15px 16px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  font-family: "GameOfSquid";
}

#button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10px;
  gap: 5%;
}

.play-button {
  background-color: #e82a80; /* Green */
  border: none;
  color: white;
  padding: 15px 16px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 20px;
  font-family: "GameOfSquid";
}

button:focus {
  outline: none;
}

button:hover {
  transition: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transform: scale(1.02);
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
    backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.video {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 600px;
  height: 480px;
}

#logo:hover {
  cursor: pointer;
}
